* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #111;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #conatiner {
    display: flex;
    align-items: center;
    justify-content: left;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    width: 100%;
    height: 100%;
    color: #dee0e9;
  }
  img {
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }
  
  #watch {
    position: absolute;
    width: min-content;
    padding: 100px;
    margin-left: 200px;
    z-index: 3;
  }
  
  p {
    font-size: 50px;
    text-align: center;
  }
  #name {
    margin-bottom: 50px;
  }
  
  #hr,
  #min,
  #sec {
    font-size: 80px;
  }
  
  #btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  button {
    font-weight: 600;
    font-size: 17px;
    width: 100px;
    height: 50px;
    color: #161416;
    background: #e6e5eb;
    border: 2.5px solid #000000;
    box-shadow: 5px 5px 5px#0e0c0c;
    border-radius: 5px;
    margin-top: 50px;
    letter-spacing: 2px;
    outline: none;
  }
  button:hover {
    background: transparent;
    color: #f5ebee;
    font-weight: 700;
  }